<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ccet.hp.sportsapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CCET SPORTS"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FacultyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProfileStudent"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Student_Event_Reg"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".EventReport"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar">
        </activity>
        <activity android:name=".RegisterationStudent">
        </activity>
        <activity
            android:name=".ShortList"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ResultFiltering">
        </activity>
        <activity android:name=".DownloadForms">
        </activity>
        <activity android:name=".CertificateGeneration">
        </activity>
        <activity android:name=".EventRegistered">
        </activity>
    </application>

</manifest>